# Model development on a cloud workstation

This notebook contains just the code cells used in [Tutorial: Model development on a cloud workstation](https://learn.microsoft.com/azure/machine-learning/tutorial-cloud-workstation).  See the article for more details.

In [4]:
import os
import argparse
import pandas as pd
import mlflow
import mlflow.sklearn
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import classification_report
from sklearn.model_selection import train_test_split

In [3]:
%pip install mlflow

Requirement already satisfied: mlflow in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (2.13.0)
Requirement already satisfied: Flask<4 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (2.2.5)
Requirement already satisfied: alembic!=1.10.0,<2 in c:\users\sdiedhio\appdata\roaming\python\python311\site-packages (from mlflow) (1.13.1)
Requirement already satisfied: cachetools<6,>=5.0.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (5.3.3)
Requirement already satisfied: click<9,>=7.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (8.1.7)
Requirement already satisfied: cloudpickle<4 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (2.2.1)
Requirement already satisfied: docker<8,>=4.0.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (7.0.0)
Requirement already satisfied: entrypoints<1 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (0.4)
Requirement already satisfied: gitpython<4,>=3.1.9 in c:\users\sdiedhio\appdata\roaming\python\python311\site-packages (from mlflow) (3.1.41)
Requirement already satisfied: graphene<4 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (3.3)
Requirement already satisfied: importlib-metadata!=4.7.0,<8,>=3.7.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (7.0.0)
Requirement already satisfied: markdown<4,>=3.3 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (3.4.1)
Requirement already satisfied: matplotlib<4 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (3.8.0)
Requirement already satisfied: numpy<2 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (1.26.4)
Requirement already satisfied: opentelemetry-api<3,>=1.0.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (1.24.0)
Requirement already satisfied: opentelemetry-sdk<3,>=1.0.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (1.24.0)
Requirement already satisfied: packaging<25 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (23.1)
Requirement already satisfied: pandas<3 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (2.1.4)
Requirement already satisfied: protobuf<5,>=3.12.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (3.20.3)
Requirement already satisfied: pyarrow<16,>=4.0.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (14.0.2)
Requirement already satisfied: pytz<2025 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (2023.3.post1)
Requirement already satisfied: pyyaml<7,>=5.1 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (6.0.1)
Requirement already satisfied: querystring-parser<2 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (1.2.4)
Requirement already satisfied: requests<3,>=2.17.3 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (2.31.0)
Requirement already satisfied: scikit-learn<2 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (1.2.2)
Requirement already satisfied: scipy<2 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (1.11.4)
Requirement already satisfied: sqlalchemy<3,>=1.4.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (2.0.25)
Requirement already satisfied: sqlparse<1,>=0.4.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (0.5.0)
Requirement already satisfied: Jinja2<4,>=3.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (3.1.3)
Requirement already satisfied: waitress<4 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from mlflow) (3.0.0)
Requirement already satisfied: Mako in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from alembic!=1.10.0,<2->mlflow) (1.3.5)
Requirement already satisfied: typing-extensions>=4 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from alembic!=1.10.0,<2->mlflow) (4.9.0)
Requirement already satisfied: colorama in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from click<9,>=7.0->mlflow) (0.4.6)
Requirement already satisfied: urllib3>=1.26.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from docker<8,>=4.0.0->mlflow) (2.0.7)
Requirement already satisfied: pywin32>=304 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from docker<8,>=4.0.0->mlflow) (305.1)
Requirement already satisfied: Werkzeug>=2.2.2 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from Flask<4->mlflow) (2.2.3)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\sdiedhio\appdata\roaming\python\python311\site-packages (from Flask<4->mlflow) (2.1.2)
Requirement already satisfied: gitdb<5,>=4.0.1 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from gitpython<4,>=3.1.9->mlflow) (4.0.7)
Requirement already satisfied: graphql-core<3.3,>=3.1 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from graphene<4->mlflow) (3.2.3)
Requirement already satisfied: graphql-relay<3.3,>=3.1 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from graphene<4->mlflow) (3.2.0)
Requirement already satisfied: aniso8601<10,>=8 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from graphene<4->mlflow) (9.0.1)
Requirement already satisfied: zipp>=0.5 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from importlib-metadata!=4.7.0,<8,>=3.7.0->mlflow) (3.17.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from Jinja2<4,>=3.0->mlflow) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from matplotlib<4->mlflow) (2.8.2)
Requirement already satisfied: deprecated>=1.2.6 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from opentelemetry-api<3,>=1.0.0->mlflow) (1.2.14)
Requirement already satisfied: opentelemetry-semantic-conventions==0.45b0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from opentelemetry-sdk<3,>=1.0.0->mlflow) (0.45b0)
Requirement already satisfied: tzdata>=2022.1 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from pandas<3->mlflow) (2023.3)
Requirement already satisfied: six in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from querystring-parser<2->mlflow) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.17.3->mlflow) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.17.3->mlflow) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from requests<3,>=2.17.3->mlflow) (2024.2.2)
Requirement already satisfied: joblib>=1.1.1 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from scikit-learn<2->mlflow) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from scikit-learn<2->mlflow) (2.2.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from sqlalchemy<3,>=1.4.0->mlflow) (3.0.1)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from deprecated>=1.2.6->opentelemetry-api<3,>=1.0.0->mlflow) (1.14.1)
Requirement already satisfied: smmap<5,>=3.0.1 in c:\users\sdiedhio\appdata\local\anaconda3\lib\site-packages (from gitdb<5,>=4.0.1->gitpython<4,>=3.1.9->mlflow) (4.0.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
# load the data
credit_df = pd.read_csv(
    "https://azuremlexamples.blob.core.windows.net/datasets/credit_card/default_of_credit_card_clients.csv",
    header=1,
    index_col=0,
)

train_df, test_df = train_test_split(
    credit_df,
    test_size=0.25,
)

In [6]:
credit_df.head(5)

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [8]:
credit_df.tail()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
29996,220000,1,3,1,39,0,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29997,150000,1,3,2,43,-1,-1,-1,-1,0,...,8979,5190,0,1837,3526,8998,129,0,0,0
29998,30000,1,2,2,37,4,3,2,-1,0,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29999,80000,1,3,1,41,1,-1,0,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
30000,50000,1,2,1,46,0,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [9]:
credit_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 30000 entries, 1 to 30000
Data columns (total 24 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   LIMIT_BAL                   30000 non-null  int64
 1   SEX                         30000 non-null  int64
 2   EDUCATION                   30000 non-null  int64
 3   MARRIAGE                    30000 non-null  int64
 4   AGE                         30000 non-null  int64
 5   PAY_0                       30000 non-null  int64
 6   PAY_2                       30000 non-null  int64
 7   PAY_3                       30000 non-null  int64
 8   PAY_4                       30000 non-null  int64
 9   PAY_5                       30000 non-null  int64
 10  PAY_6                       30000 non-null  int64
 11  BILL_AMT1                   30000 non-null  int64
 12  BILL_AMT2                   30000 non-null  int64
 13  BILL_AMT3                   30000 non-null  int64
 14  BILL_AMT4                   30000 non-null  int64
 15  BILL_AMT5                   30000 non-null  int64
 16  BILL_AMT6                   30000 non-null  int64
 17  PAY_AMT1                    30000 non-null  int64
 18  PAY_AMT2                    30000 non-null  int64
 19  PAY_AMT3                    30000 non-null  int64
 20  PAY_AMT4                    30000 non-null  int64
 21  PAY_AMT5                    30000 non-null  int64
 22  PAY_AMT6                    30000 non-null  int64
 23  default payment next month  30000 non-null  int64
dtypes: int64(24)
memory usage: 5.7 MB

In [10]:
credit_df.describe().T

,count,mean,std,min,25%,50%,75%,max
LIMIT_BAL,30000.0,167484.322667,129747.661567,10000.0,50000.00,140000.0,240000.00,1000000.0
SEX,30000.0,1.603733,0.489129,1.0,1.00,2.0,2.00,2.0
EDUCATION,30000.0,1.853133,0.790349,0.0,1.00,2.0,2.00,6.0
MARRIAGE,30000.0,1.551867,0.521970,0.0,1.00,2.0,2.00,3.0
AGE,30000.0,35.485500,9.217904,21.0,28.00,34.0,41.00,79.0
PAY_0,30000.0,-0.016700,1.123802,-2.0,-1.00,0.0,0.00,8.0
PAY_2,30000.0,-0.133767,1.197186,-2.0,-1.00,0.0,0.00,8.0
PAY_3,30000.0,-0.166200,1.196868,-2.0,-1.00,0.0,0.00,8.0
PAY_4,30000.0,-0.220667,1.169139,-2.0,-1.00,0.0,0.00,8.0
PAY_5,30000.0,-0.266200,1.133187,-2.0,-1.00,0.0,0.00,8.0
PAY_6,30000.0,-0.291100,1.149988,-2.0,-1.00,0.0,0.00,8.0
BILL_AMT1,30000.0,51223.330900,73635.860576,-165580.0,3558.75,22381.5,67091.00,964511.0
BILL_AMT2,30000.0,49179.075167,71173.768783,-69777.0,2984.75,21200.0,64006.25,983931.0
BILL_AMT3,30000.0,47013.154800,69349.387427,-157264.0,2666.25,20088.5,60164.75,1664089.0
BILL_AMT4,30000.0,43262.948967,64332.856134,-170000.0,2326.75,19052.0,54506.00,891586.0
BILL_AMT5,30000.0,40311.400967,60797.155770,-81334.0,1763.00,18104.5,50190.50,927171.0
BILL_AMT6,30000.0,38871.760400,59554.107537,-339603.0,1256.00,17071.0,49198.25,961664.0
PAY_AMT1,30000.0,5663.580500,16563.280354,0.0,1000.00,2100.0,5006.00,873552.0
PAY_AMT2,30000.0,5921.163500,23040.870402,0.0,833.00,2009.0,5000.00,1684259.0
PAY_AMT3,30000.0,5225.681500,17606.961470,0.0,390.00,1800.0,4505.00,896040.0
PAY_AMT4,30000.0,4826.076867,15666.159744,0.0,296.00,1500.0,4013.25,621000.0
PAY_AMT5,30000.0,4799.387633,15278.305679,0.0,252.50,1500.0,4031.50,426529.0
PAY_AMT6,30000.0,5215.502567,17777.465775,0.0,117.75,1500.0,4000.00,528666.0
default payment next month,30000.0,0.221200,0.415062,0.0,0.00,0.0,0.00,1.0

In [11]:
# Extracting the label column
y_train = train_df.pop("default payment next month")

# convert the dataframe values to array
X_train = train_df.values

# Extracting the label column
y_test = test_df.pop("default payment next month")

# convert the dataframe values to array
X_test = test_df.values

In [12]:
# set name for logging
mlflow.set_experiment("Develop on cloud tutorial")
# enable autologging with MLflow
mlflow.sklearn.autolog()

2024/05/23 12:55:10 INFO mlflow.tracking.fluent: Experiment with name 'Develop on cloud tutorial' does not exist. Creating a new experiment.

In [13]:
# Train Gradient Boosting Classifier
print(f"Training with data of shape {X_train.shape}")

mlflow.start_run()
clf = GradientBoostingClassifier(n_estimators=100, learning_rate=0.1)
clf.fit(X_train, y_train)

y_pred = clf.predict(X_test)

print(classification_report(y_test, y_pred))
# Stop logging for this model
mlflow.end_run()

Training with data of shape (22500, 23)

2024/05/23 12:55:30 WARNING mlflow.utils.git_utils: Failed to import Git (the Git executable is probably not on your PATH), so Git SHA is not available. Error: Failed to initialize: Bad git executable.
The git executable must be specified in one of the following ways:
    - be included in your $PATH
    - be set via $GIT_PYTHON_GIT_EXECUTABLE
    - explicitly set via git.refresh()

All git commands will error until this is rectified.

This initial warning can be silenced or aggravated in the future by setting the
$GIT_PYTHON_REFRESH environment variable. Use one of the following values:
    - quiet|q|silence|s|none|n|0: for no warning or exception
    - warn|w|warning|1: for a printed warning
    - error|e|raise|r|2: for a raised exception

Example:
    export GIT_PYTHON_REFRESH=quiet

2024/05/23 12:55:30 WARNING mlflow.sklearn: Failed to log training dataset information to MLflow Tracking. Reason: 'Series' object has no attribute 'flatten'
2024/05/23 12:55:54 WARNING mlflow.utils.autologging_utils: MLflow autologging encountered a warning: "C:\Users\sdiedhio\AppData\Local\anaconda3\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils."

              precision    recall  f1-score   support

           0       0.84      0.95      0.89      5782
           1       0.68      0.38      0.49      1718

    accuracy                           0.82      7500
   macro avg       0.76      0.66      0.69      7500
weighted avg       0.80      0.82      0.80      7500

In [14]:
# Train  AdaBoost Classifier
from sklearn.ensemble import AdaBoostClassifier

print(f"Training with data of shape {X_train.shape}")

mlflow.start_run()
ada = AdaBoostClassifier()

ada.fit(X_train, y_train)

y_pred = ada.predict(X_test)

print(classification_report(y_test, y_pred))
# Stop logging for this model
mlflow.end_run()

2024/05/23 12:56:14 WARNING mlflow.sklearn: Failed to log training dataset information to MLflow Tracking. Reason: 'Series' object has no attribute 'flatten'

Training with data of shape (22500, 23)
              precision    recall  f1-score   support

           0       0.83      0.96      0.89      5782
           1       0.69      0.32      0.43      1718

    accuracy                           0.81      7500
   macro avg       0.76      0.64      0.66      7500
weighted avg       0.79      0.81      0.78      7500